node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# local dev testing
habitflow_data/

# Custom Notes / Artifacts
CONCEPTS.md
CONCEPTS.original.md
DEPLOYMENT.md
NOODLING.md
BUGS.MD
TESTING.MD